@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
  font-family: "Rubik";
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
}
div {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* @font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* @font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
